<ion-view title="Change Password" id="changepassword">
  <ion-content padding="true"  class="has-header">
<br>
    <div>
      <label class="item item-input"style="height: 60px">
        <h2 style="color: black">Please enter your old password here</h2>
      </label>
      <label class="item item-input">
        <input type="password"   required="true">
      </label>
    </div>
<br>
    <div>
      <label class="item item-input"style="height: 60px">
        <h2 style="color: black">Please enter your new password here</h2>
      </label>
      <label class="item item-input">
        <input type="password"  required="true">
      </label>
    </div>
<br>
    <div>
      <label class="item item-input"style="height: 60px">
        <h2 style="color: black">Please re-enter your new password here</h2>
      </label>
      <label class="item item-input">
        <input type="password"   required="true">
      </label>
    </div>
<div style="margin-top: 20px">
  <a ui-sref="changepassword" id="login-button1" class="button button-stable  button-block" onclick="window.alert('Successfully changed password')" style="background-color: #795548;color: white;font-family: Helvetica;width:50%;margin-left: 90px;">Change password</a>
  <a ui-sref="menu.settings" id="login-button2" class="button button-stable  button-block" style="background-color: #F44336;color: white;font-family: Helvetica;width:50%;margin-left: 90px;" href="#/">Go to settings menu</a>

</div>

    <!--<button class="button button-block button-calm"  style="font-family: Helvetica">Change password</button>-->


  </ion-content>
</ion-view>
