<ion-view title="Technical Events" id="page10">
    <ion-content padding="true"  class="has-header">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" style="width:325px;font-family: 'Helvetica Neue';padding-left: 20px;" class="form-control" ng-model="data.city" placeholder="Please enter the city name here" required="true">

          <!--<input type="text" placeholder="CityName" ng-model="data.city" required="true">-->
        </label>
      </div>
      <!--<button class="button button-block button-positive" ng-click="findevents(data.values)">Get Events</button>-->
      <a ng-click="findevents(data.values)" id="login-button1" class="button button-stable  button-block" style="background-color: #795548;color: white;font-family: Helvetica;width:50%;margin-left: 100px;">Get Events</a>


      <div class = "container">
        <span id= "ListEvents"> </span>
      </div>
    </ion-content>
</ion-view>
