<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forums</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="../js/vendor/modernizr.js"></script>
</head>
<body ng-app="forumApp">

<div ng-view></div>


<script src="../js/vendor/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/firebase/firebase.js"></script>
<script src="../bower_components/angularfire/dist/angularfire.js"></script>
<script src="../build/main.js"></script>
<script src="../js/controllers.js"></script>

<script src="../js/routes.js"></script>
</body>
</html>
