<ion-view title="Settings" id="settings">
    <ion-content padding="true"  class="has-header">
      <div ng-init = "init()">
        <a ui-sref="changeusername" id="login-button1" class="button button-stable  button-block" style="background-color: #795548;color: white;font-family: Helvetica;">Change username</a>
      </div>
       <div>
         <a ui-sref="changepassword" id="login-button2" class="button button-stable  button-block" style="background-color: #795548;color: white;font-family: Helvetica;">Change Password</a>

         <!--<button class="button button-block button-calm" ui-sref="changepassword"  style="font-family: Helvetica">Change Password</button>-->
       </div>
      <div>
        <a ui-sref="changeemail" id="login-button3" class="button button-stable  button-block" style="background-color: #795548;color: white;font-family: Helvetica;">Change email id</a>

        <!--<button  class="button button-block button-calm" ui-sref="changeemail" style="font-family: Helvetica">Change email id</button>-->
      </div>
    </ion-content>
</ion-view>
