<ion-view title="Video" id="page6" >

  <ion-content padding="true" class="has-header">

    <div class="home"></div>
    <div class="container">
    <form id='searchVideo'>
      <!--
      <input id="user-input"   type="text" placeholder="Text" align="center">

      <br>
      <input type="submit"> <span></span>
      <button id='reset'>Reset</button>
-->
    </form>
</div>

    <!--
    <script>
      var input=document.getElementById("user-input");
    </script>
-->
    <div id="search-results"></div>

  </ion-content>
</ion-view>
